/* estilo general */

body {background-color:Wheat;}
/*panita*/
#wrapper {margin: 0 auto;
          width:80%;
}

/* estilo de hero section */

#hero {background-image: url("Imagenes/croquetas222.jpg");/*coloca la imagen de fondo*/
       background-size: cover;/* encaja la imagen en el ancho*/
       background-position: center;/*coloca el punto de interes para el cambio de pantalla*/
       height: 95vh;} /*vh es el alto del dispositivo: pc, tablet o móvil*/
#hero h1 {position: relative;/*desplazar el texto*/
          display: inline;
          top:50px;
          left: 100px;
          padding:10px;
          border-radius: 20px;
          background-color: rgba(255, 255, 255, 0.671);
          font-family: 'Sahitya', serif;}/*tipo de letra de google fonts con el link arriba*/

/* estilo general de las secciones */

.contenido {background-color: antiquewhite;
            margin: 0px;
            padding: 10px;}
.contenido h1 {font-size: 250%; 
               font-family: 'Sahitya', serif;
               text-align: center;
               color: rgb(80, 12, 0);
               }

/* estilo de welcome en 2 columnas*/

.mitad {width: 40%;
        padding: 5%;
        text-align: justify;
        float: left;}  /*de esta manera se ponen en paralelo las 2 mitades*/
.mitad img {width: 100%;}

/* final de floats */

.finfloat {clear:both;}

/* estilo de tipos en 3 columnas*/

.tercio {width: 25%;
          padding: 4%;
          text-align: justify;
          float: left;}  /*de esta manera se ponen en paralelo los 3 tercios*/
.tercio i {font-size: 300%;
           text-align: center;
           display: block;
           color: rgb(66, 43, 9);}
.tercio button {background-color: rgb(180, 146, 101);
                color: white;
                font-weight: bold;
                display: block;
                margin: 10px auto;
                text-align: center;}
/* distribución responsive para móviles */

/* la media query regula el ancho en que la pantalla debe cambiar la configuración en aquellas características que den prolema, reescribiendo su valor*/
@media screen and (max-width:800px) {
    .mitad {width:90%}
    .tercio {width: 80%;
             padding: 10%;}
}

@media screen and (max-width:600px) {
    #wrapper {width:100%}
}